<p id="notice"><%= notice %></p>

<h1>Groups</h1>

<table class="table table-bordered">
  <thead class="table-success">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Members</th>
      <th>Debut</th>
      <th>Group class</th>
      <th><%=link_to 'Concerts', concerts_path, class:'link-light'%></th>
      <th>Total attendance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
      <td><%= group.id %></td>
        <td><%= group.name %></td>
        <td><%= group.members_number %></td>
        <td><%= group.debut %></td>
        <td><%= group.group_class %></td>
        <td><%= group.concerts.count %></td>
        <td><%= group.totalAttendance %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
